.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
  object-fit: cover;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.login {
  display: flex;
  padding: 16px;
  justify-content: flex-end;
  align-self: center;
}

.username {
  margin-right: 4px;
}

.loginButton {
  background-color: #0070f3;
  color: white;
  border-radius: 8px;
  outline: inherit;
  border: inherit;
  margin-left: 8px;
  padding: 4px 10px;
  cursor: pointer;
  height: 24px;
  align-self: center;
}

.loginButton:hover
{
  background-color: #005bbd;
}